body {
	font: 0.9em 'Roboto', Arial;
	margin: 0;
}
.container {
	width: 940px;
	margin: auto;
}
.main, .side {
	display: inline-block;
	float: left;
}
.main {
	width: 660px;
	margin-right: 30px;
}
.side {
	width: 250px;
}
h1 {
	background: #eee;
	padding: 10px;
	text-align: center;
}
h3 {
	border-bottom: 1px solid #888;
}
input[type="file"] {
	display: none;
}
button:disabled {
	opacity: 0.5;
	cursor: default;
}
.btn:disabled:hover {
	background: #0F53DD;
}
.btn, input[type="button"] {
	display: inline-block;
	background: #0F53DD;
	padding: 7px 8px;
	margin: 4px 0;
	border: 0;
	color: #fff;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
}
.btn:hover {
	background: #2d72ff;
}
.btn-fb, input.btn-fb {
	display: block;
	background: #3B5998;
}
.btn-fb:hover, input.btn-fb:hover {
	background: #446EC5;
}
#btn-download {
	display: block;
	background: forestgreen;
	/*padding: 10px;*/
}
#btn-download:hover {
	background: rgb(71, 192, 71);
}
canvas {
	cursor: move;
}
