body {
	font: 0.9em 'Roboto', Arial;
	margin: 0;
	background-image: url(background.jpeg);
}
.container {
	width: 80%;
	margin: 0 10%;
	justify-content: center;
	align-items: center;
	display: flex;
}
.main, .side {
	display: inline-block;
	float: left;
}
.main {
	width: 60%;
	justify-content: center;
	align-items: center;
	display: flex;
}
.side {
	width: 20%;
	margin-left: 10%;
}
h1 {
	color: white;
	background: rgba(0, 0, 0, 0.7);
	padding: 10px;
	text-align: center;
	border: 0;
		
}

h1:hover{
	color: rgb(255, 255, 255);
	background:rgb(81, 187, 99);
	padding: 10px;
	text-align: center;
	border-bottom: 0px solid rgb(112, 255, 136);
	box-shadow: 5px 1px 5px #376B9A;
}

h1 a{
	color: rgb(112, 255, 136);
}

h1:hover a{
	color: rgb(0, 0, 0);
}

h2 {
	border-bottom: 2px solid #888;
}
input[type="file"] {
	display: none;
}
button:disabled {
	opacity: 0.5;
	cursor: default;
}
.btn:disabled:hover {
	background: #0F53DD;
}
.btn, input[type="button"] {
	display: inline-block;
	background: #000000;
	padding: 10px 20px;
	font-size: 18px;
	margin: 4px 0;
	border: 3px solid rgb(81, 187, 99);
	border-radius: 7px;
	color: #fff;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	font-weight: bolder;
}
.btn:hover {
	background: rgb(81, 187, 99);
	border: 3px solid black;
	color: white;
	font-weight: bolder;
}
.btn-fb, input.btn-fb {
	display: block;
	background: #3B5998;
}
.btn-fb:hover, input.btn-fb:hover {
	background: #446EC5;
}
#btn-download {
	display: block;
	background: rgb(81, 187, 99);
	border: 2px solid black;
	color: black;
	font-weight: bolder;
}

#btn-download:hover {
	background: rgb(0, 0, 0);
	color: white;
	font-weight: bolder;
	border: 3px solid rgb(81, 187, 99);
}
canvas {
	cursor: move;
}
